<nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #d2d6da;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
                <a class="nav-link active" routerLink="/tokenizer" aria-current="page" id="token" href="#">Tokenizer</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/similar" aria-current="page" id="similar" href="#">Sentence Similarity</a>
            </li>
        </ul>
      </div>
    </div>
</nav>
<br>
<br>
<br>
